body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px; /* Base font size */
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem; /* Adjust as needed */
    border: 0.01rem solid black;
    border-radius: 1rem;
    width: 90%; /* Adjust as needed for smaller screens */
    max-width: 65rem;
    padding: 1rem; /* Add some padding */
}

#header {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 1rem; /* Adjust as needed */
}

#playerSelection {
    display: flex;
    flex-direction: column; /* Stack player selections on smaller screens */
    justify-content: center; /* Center vertically */
    align-items: center;
    gap: 1.5rem; /* Adjust as needed */
    margin-top: 1rem; /* Adjust as needed */
}

.player {
    height: 2rem;
    width: 10rem;
    border: 0.1rem solid lightgray;
    border-radius: 0.3rem;
    cursor: pointer;
}

.player:focus {
    border: 0.1rem solid black;
    border-radius: 0.3rem;
}

#scoreBoard {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center vertically */
    align-items: center;
    border: 0.1rem solid black;
    border-radius: 0.2rem;
    gap: 1.5rem; /* Adjust as needed */
    background-color: #9fd3c7;
    padding: 1rem; /* Add some padding */
}

.score {
    font-weight: bolder;
    font-size: large;
}

#game {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #9fd3c7;
    width: 100%;
}

#grid {
    display: grid;
    grid-template-columns: repeat(3, 5rem);
    grid-template-rows: repeat(3, 5rem);
    grid-column-gap: 0.5rem; /* Add some gap between grid cells */
    grid-row-gap: 0.5rem; /* Add some gap between grid cells */
    overflow: hidden;
}

.gridBox {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9fd3c7;
    color: white;
    font-weight: bolder;
    font-size: 3rem;
}

#grid div {
    outline: 2px solid #000;
}

#grid div:last-child {
    grid-area: 3/3;
}

#restart {
    border: none;
    font-weight: bold;
    font-size: medium;
    background-color: white;
    margin-bottom: 1rem; /* Adjust as needed */
    cursor: pointer;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    #container {
        font-size: 14px; /* Adjust as needed for smaller screens */
    }

    /* Add more responsive styles */
}
